* {
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&family=Rubik:wght@300&display=swap');

body {
    font-family: 'Kanit', sans-serif;
}

li {
    display: inline;
    float: right;
    padding-left: 50px;
    margin: 10px 70px 0 0;
    font-family: 'Rubik', sans-serif;
    font-size: 1.2rem;
    color: #1363DF;
    letter-spacing: 2px;
}

h2 {
    padding: 12px;
    color: #1363DF;
}

h3 {
    padding: 15px;
    font-weight: normal;
    
}

button {
    background-color: #DFF6FF;
    color: blue;
    border: 1px solid #DFF6FF;
    border-radius: 3px;
    width: 120px;
    padding: 10px;
    margin-top: 15px;
    margin-left: 20px;
}

input {
    margin-left: 15px;
}

label {
    padding-left: 7px;
}


svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

/* NAVIGATION */

.logo {
    display: inline-block;
    position: absolute;
    margin-left: 30px;
    height: 50px;
    width: auto;

}

.container {
   
    top: 15px;
    width: 100%;
    display: inline-block;
}


.title {
    float: left;
    letter-spacing: 5px;
    font-family: 'Kanit', sans-serif;
    font-size: 2.0rem;
    font-weight: bold;
}

.navbar a {
    display: inline-block;
    vertical-align: top;
    height: 80px;
}

.navbar {
    position: absolute;
    width: 100%;
    z-index: 2;
}

/* MAIN */

.wrapper {
    width: 100%;
    display: flex;
}


.content {
    display: inline-block;
    margin-top: 180px;
    margin-left: 180px;
}

.image-side {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img {
    width: 270px;
    height: auto;
    margin-top: 80px;
    margin-left: 250px;
}

 .output {
    display: flex;
    align-items: center;
    margin-left: 220px;
    justify-content: center;
    margin-top: 200px;
    height: 70px;
    width: 330px;
    color:#1363DF;
 } 







