@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

:root {
    --h1-font: 'Russo One', sans-serif;
    --main-font: 'Dosis', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
}

html {
    width: 100vw;
    height: 100vh;
    margin: 0;
    position: relative;
    background: url('bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ff9c9c7d;
    background-blend-mode: lighten;
    background-attachment: fixed;
}

h1 {
    font-family: var(--h1-font);
    font-size: 2rem;
    color:rgb(248, 228, 228);
    text-align: center;
    padding: 3rem;
} 

h3 {
    font-family: var(--main-font);
    text-transform: uppercase;
    letter-spacing: 2px;
}

p {
    font-family: var(--main-font);
}

/* SEARCH POKEMONS */

button {
    background-color: #333;
    color: white;
    border: 1px solid #333;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    font-family: var(--main-font);
    margin: 10px;
}

input {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
    
}

.search-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}


/* CARDS */ 

.container {
    display: grid;
    width: 70vw;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-gap: 1rem;
    margin: 0 auto;
}

.poke-card {
    width: 180px;
    height: 230px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: rgba(239, 236, 236, 0.742);
    text-align: center;
}

.poke-card img {
    width: 90%;
    height: 90%;
    padding: 15px;
    -webkit-filter: grayscale(80%);
    filter: grayscale(80%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.poke-card:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    transform: scale(1.2);
}




