@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
}

p {
    padding: 20px;
    color: black;
}

h2 {
  display: inline-block;
  margin: 20px;
}

h4 {
    color: rgb(253, 254, 246);
    padding: 15px;
}

button {
    background-color: rgb(53, 212, 32);
    border: 1px solid rgb(53, 212, 32);
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    color:rgb(40, 80, 40);
    font-weight: bold;
}

/* HEADER */

ul {
    list-style: none;
    display: flex;
    padding: 20px;
    justify-content: end;
    align-items: center;
    flex: 2;
}

header {
    position: sticky;
    top: 0;
    width: 100vw;
    height: 80px;
    background-color: rgb(164, 242, 164);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
    color: #333;
    padding: 20px;
}

h1 {
    font-size: 2rem;
    letter-spacing: 5px;
    color: #333;
}

li a:hover {
    background-color: rgb(127, 210, 127);
}

.logo {
    display: flex;
    flex: 2;
    margin-left: 30px;
    margin-top: 10px;
}

.bg {
    background-color: rgb(164, 242, 164);
}

.bg a {
    color: rgb(34, 58, 34);
}
 
#mob-btn {
    display: none;
}


/* MAIN SECTION */

section {
    min-height: 40vh;
    width: 100vw;
    scroll-margin-top: 5rem;
}

.sec1 {
    background-color: rgb(127, 210, 127);
    height: 400px;
}

.sec2 {
    background-color: rgb(79, 161, 79);
    height: 400px;
}

.sec3 {
    background-color: rgb(51, 105, 51);
    height: 400px;
}

/* BOTTOM */

footer {
    display: flex;
    width: 100vw;
    height: 70px;
    background-color: rgb(34, 58, 34);
}

#to-top {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: none;
}


/* MODAL */

.overlay {
    display: none;
  }
  
  .overlay.visible {
    display: flex;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    color: #333;
  }
  .overlay.visible .modal {
    position: relative;
    background: white;
    min-height: 50vh;
    width: 50vw;
    border-radius: 10px;
    color: #032330;
    padding: 3rem;
  }
  
  .overlay.visible .close {
    position: absolute;
    top: 20px;
    right: 20px;
  }

/* MOBILE */

@media only screen and (max-width: 800px) {
    nav ul {
        display: none;
    }

    h1 {
        font-size: 1rem;
    }

    #mob-btn {
        background-color: transparent;
        color: #333;
        border: none;
        display: block;
        padding: 1rem;
    }

    nav.responsive ul {
        background-color: white;
        width: 100%;
        display: block;
        position: absolute;
        left: 0;
        top: 80px;
    }

    nav.responsive ul li {
        display: block;
    }

    nav.responsive ul li a {
        color: #333;
        display: block;
    }
}