@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(85, 81, 81);
    background-image: url(mini-pic.png);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
    height: 100vh;
    color: rgb(156, 176, 186);
}

table {
    border-collapse: collapse;
    border: 1px solid #333;
    color: white;
}

th {
    background-color:  rgb(48, 65, 73);
    border: 1px solid #333;
    padding: 6px;
}

tr:nth-child(even) {
    background-color: #3f3f3f;
    color: rgb(156, 176, 186);
}

tr:nth-child(odd) {
    background-color:   rgb(48, 65, 73);
    color: rgb(156, 176, 186);
}

h3 {
    margin: 5px;
}

form {
    margin: 15px;
}

input {
    display: inline-block;
    margin-left: 5px;
    justify-content: end;
} 

label {
    display: flex;
    padding: 5px;
} 

button {
    background-color:  rgb(156, 176, 186);
    border: 1px solid  rgb(156, 176, 186);
    color: black;
    border-radius: 5px;
    width: 70px;
    height: 30px;
    margin: 15px;
    font-family: 'Poppins', sans-serif;
    padding: 5px;
}

.wrapper {
    display: flex;
    width: 100vw;
}

.car-form {
    display: inline-block;
    text-align: left;
    margin: 35px;
    padding: 5px;
    width: 30vw;
}

.car-table {
    display: inline-block;
    margin: 40px;
    width: 30vw;
    margin-top: 36px;
    padding: 5px;
}

.searchCar {
    display: inline-block;
    margin-top: 40px;
}

#output {
    width: 25vw;
    height: 150px;
    margin-top: 55px;
}