@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(85, 81, 81);
    background-image: url(mini-pic.jpg);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
    height: 100vh;
    color: rgb(156, 176, 186);
}

table {
    border-collapse: collapse;
    border: 1px solid #333;
    color: white;
}

th {
    background-color:  rgb(156, 176, 186);
    border: 1px solid #333;
    padding: 6px;
}

tr:nth-child(even) {
    background-color: #dddddd;
    color: rgb(156, 176, 186);
}

h3 {
    margin: 15px;
}

form {
    margin: 15px;
}

input {
    display: inline-block;
    margin-left: 55px;
    justify-content: end;
} 

label {
    display: flex;
    padding: 5px;
} 

button {
    background-color:  rgb(156, 176, 186);
    border: 1px solid  rgb(156, 176, 186);
    color: black;
    border-radius: 5px;
    width: 70px;
    height: 30px;
    margin: 10px;
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    
}

.wrapper {
    display: flex;
}

.car-form {
    display: inline-block;
    text-align: left;
    margin: 55px;
    padding: 5px;
    width: 35vw;
    
}

.car-table {
    display: inline-block;
    margin: 40px;
    width: 30vw;
    justify-content: end;
    margin-right: 150px;
    margin-top: 50px;
    padding: 5px;
    
}

.searchCar {
    display: inline-block;
    margin-left: 75px;
    width: 35vw;
    height: 150px;
}