body {
   text-align: center;
   font-family: 'Karla', sans-serif;
}

h1 {
   font-family: 'Karla', sans-serif;
 }

p {
   font-family: 'Karla', sans-serif;
 } 

 label {
  display: inline-block;
  width: 100px;
  margin: 10px 0;
 }

 button {
  border: none;
  background-color: darkmagenta;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  color:white;
 }

 input,
 button {
  font-family: inherit;
 }



 